@import url('https://fonts.googleapis.com/css2?family=Niramit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Trirong:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --dark-gold: #8E793E;
    --light-gold: #AD974F;
    --bg: #231F20;
    --light-grey: #EAEAEA;

}
html {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
     padding-top: 48px;
     background-color: var(--light-gold);
    justify-items: center;
    font-family: 'Niramit', 'san-serif';
    font-family: "Trirong", serif;
    
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    background-color: var(--bg);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;

    font-family: inherit;
}

nav a {
    float: left;
    font-size: 16px;
    color: var(--light-grey);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.dropdown {
    float: left;
    overflow: hidden;

}

.dropdown .menubtn {
    font-size: 16px;
    border: none;
    color: var(--light-grey);
    padding: 14px 16px;
    background-color: var(--bg);
    font: inherit;
    margin: 0;

    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.home:hover, .dropdown:hover .menubtn, .ref:hover {
    background-color: var(--light-gold);
}

.column a:hover {
    text-decoration: underline;
}

.menuContent {
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    z-index: 2;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: max-height 0.4s ease, opacity 0.3s ease, transform 0.3s ease;

}

.menuContent .head {
    background-color: var(--light-gold);
    padding: 16px;
    color: var(--light-grey);
}

.menuContent.active {
    max-height: 500px;
    opacity: 1;
    transform: translateY(0);

}

.menuContent::after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    background-color: var(--light-grey);
    height: 350px;
    color: #443a1e;
}

.column a {
    color: #726133;
    float: none;
    padding: 16px;
    display: block;
    text-align: left;
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid var(--light-grey);
}

/* home */
h1 {
    text-align: center;
    /* color: var(--light-gold); */
    color: var(--light-grey);
    font-size: 35px;
    padding-top: 10px;
    margin: 0;


}

.centered {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    opacity: 0;
    transition-property: all;
    transition-duration: 0.3s;
    
}

.centered h2 {
    color: var(--light-grey);
    margin: 0;
    padding: 0;
}

.viewbtn {
    background-color: var(--light-gold);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 3px;
    
}

.viewbtn a {
    text-decoration: none;
    color: var(--light-grey);
}
.viewbtn:hover {
    background-color: var(--dark-gold);
    transition-property: all;
    transition-duration: 0.5s;
}
.card {
    position: relative;
    width: 300px;
    height: 200px;

}
.card img {
    object-fit: cover;
    width: 300px;
    height: 200px;
}
.card:hover .centered, .card:focus .centered, .card:active .centered, .card:hover .hoverimg, .card:focus .hoverimg, .card:active .hoverimg {
    opacity: 1;
    
}
.hoverimg {
    width: 300px;
    height: 200px;
    position: absolute;
    background-color: #231f20a0;
    opacity: 0;
    transition-property: all;
    transition-duration: 0.3s;
    
}
#foodList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;

}

.pageH {
    min-height: 100lvh;
    scroll-margin-top: 70px;
        background-color: var(--light-gold);
}
.page {
    min-height: 100lvh;
    scroll-margin-top: 70px;
    justify-self: center;

}

.card_food {
    min-height: 88vh;
    width: 95vw;
    background-color: white;
    align-self: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--dark-gold);

}

/* id 1-12 */
.img-resize img{
    width: 450px;
    height: 350px;
    object-fit: cover;
    border: 8px double var(--light-gold);
}
h2{
    padding-top: 20px;
    
    text-align: center;
    color: var(--dark-gold);
}

h4 {
    font-size: 20px;
    color: #443a1e;
}

.layout {
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
}
.lay-1 {
    display: flex;
    flex-direction: column;
    
}
tr, td {
    width: 65%;
    font-size: 17.5px;

}

.mat {
    width: 50%;
    margin-left: 8%;
    
}


.desc {
    text-indent: 30px;
    font-size: 18px;
    color: #726133;
    width: 450px;
}

.solve {
    padding-bottom: 20px;
    padding-left: 50px;
    width: 70%;
    color: var(--bg);
}

.s-ol {
    overflow-y: scroll;
    height: 480px;
    
}
.mat1 {
    overflow-y: scroll;
    height: 480px;

}


li {
    padding: 5px;
    font-size: 18px;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        height: auto;
    }

    .menuContent {
        overflow: scroll;

    }

    .layout {
    display: flex;
    justify-items: center;
    flex-direction: column;
    }
    .img-resize img{
    width: 100%;
    height: 60%;
    object-fit: cover;
    border: 8px double var(--light-gold);
    }
    tr, td {
    font-size: 18px;
    }

    .desc {
        width: 100%;
    }
    

    .mat {
        height: 100%;
        width: 90%;
    }
    .solve {
        width: 100%;


    }

    tr, td {
    overflow: hidden;
    width: 100%;
    font-size: 18px;
    padding-bottom: 5px;
    }
    footer li {
        text-overflow: clip;
        width: 100px;
    }
    .s-ol {
    overflow-y: hidden;
    height: 100%;
    
}
}

@media screen and (max-width: 1180px) {


    .menuContent {
        overflow: scroll;

    }

    .layout {
    display: flex;
    justify-items: center;
    flex-direction: column;
    }
    .img-resize img{
    width: 100%;
    height: 60%;
    object-fit: cover;
    border: 8px double var(--light-gold);
    }
    tr, td {
    font-size: 18px;}

    .desc {
        width: 100%;
    
    }
    .solve {
        width: 90%;
    }
    .s-ol {
    overflow-y: hidden;
    height: 100%;
    
}

    
}

footer {
    background-color: var(--bg);
    height: auto;
    color: #EAEAEA;
    padding: 20px;
    width: 100%;
}

footer a {
    width: 100%;
    text-overflow: ellipsis;
    color: var(--light-gold);
}

footer a:hover {
    color: var(--dark-gold);
}

.ref-list {
    list-style-type: square;
}

.arrow-up {
  border: solid var(--dark-gold);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.position-ar {
    background-color: #EAEAEA;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 10px;
    bottom: 10px;
    position: fixed;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 3px #443a1e;
    
}
.position-ar:hover {
    width: 45px;
    height: 45px;
    right: 8px;
    bottom: 8px;
    background-color: #d8d2c1;
    cursor: pointer;
}